html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fafafa;
  color: #111111;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

#nprogress .bar {
  background: #e6007a;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e6007a, 0 0 5px #e6007a;
}

@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono-Regular.ttf");
}
